h1 {
    font-family: Helvetica, Verdana, Arial;
    font-size: 64px;
    background-color: lightcyan;
    text-shadow: 2px 2px 2px yellow;
}

a {
    padding: 10px;
    margin-right: 10px;
    color: black;
    background-color: coral;
    border: 2px solid black;
    font-weight: 700;
    text-decoration: none;
}

img {
    height: auto;
    width: 250px;
}